<table border = "1">  
<tr>
<th>Name</th>
<th>Role</th>
<th>Email</th>
</tr>
<% @users.each do |user| %>
<tr>
<td><%= user.name %></td>
<td><%= user.role.name %></td>
<td><%= user.email %></td>
</tr>
</tr>
<% end %>
</table>

  
