<div class="row">
  <div class="span6 offset3">
    <h1>User Registration</h1>
    <%= form_for(@user) do |f| %>
    <%= render 'shared/error_messages' , object: f.object%>
      <%= f.label :name %>
      <%= f.text_field :name %>

      <%= f.label :email %>
      <%= f.text_field :email %>

      <%= f.label :Role %>
      <%= f.select :role_id, @usable_roles.collect {|p| [p.name, p.id] }%>

      <%= f.label :password %>
      <%= f.password_field :password %>

      <%= f.label :password_confirmation, "Confirmation" %>
      <%= f.password_field :password_confirmation %>

      <%= f.submit "Create my account", class: "btn btn-large btn-primary" %>
    <% end %>
  </div>
</div>