<div class="row">
  <h1>User Promotion</h1>
  <div class="span6 offset3">
   <%= form_for (@promotion), html: { method: :create } do |f| %>
    <%= render 'shared/error_messages' , object: f.object %>
      <input type="hidden" name="user_id" value='<%= @user.id %>'>
      <%= f.label "#{@user.name.split(" ")[0]}'s New Role" %>
      <%= f.select :new_role, @usable_roles.collect {|p| [p.name, p.id] } %>
      <%= f.label "Promotion Starts" %>
      <%= date_select :promotion, :start_date, { order: [:month, :day, :year] }, { class: "date" } %>
      <%= f.label "Promotion Ends" %>
      <%= date_select :promotion, :expiration_date, { order: [:month, :day, :year], include_blank: true }, { class: "date" }%>
      <%= f.submit "Promote #{@user.name.split(" ")[0]}", class: "btn btn-large btn-primary" %>
    <% end %>
  </div>
</div>
