<div class="row">
  <div class="span6 offset3">
    <h1>New Role Group</h1>
    <%= form_for(@role_group) do |f| %>
    <%= render 'shared/error_messages' , object: f.object%>
      <%= f.label :name %>
      <%= f.text_field :name %>

      <%= f.label :parent_id, "Parent Group" %>
      <%= f.select :parent_id, RoleGroup.all.collect {|p| [p.name, p.id] }%>

      <%= f.submit "Create Role Group", class: "btn btn-large btn-primary" %>
    <% end %>
  </div>
</div>