<div class="row">
  <div class="span6 offset3">
    <h1>New Role</h1>
    <%= form_for(@role) do |f| %>
    <%= render 'shared/error_messages' , object: f.object%>
      <%= f.label :name %>
      <%= f.text_field :name %>

      <%= f.label :group_id, :Group %>
      <%= f.select :group_id, RoleGroup.all.collect {|p| [p.name, p.id] }%>

      <%= f.submit "Create new Role", class: "btn btn-large btn-primary" %>
    <% end %>
  </div>
</div>