<footer class="footer">
  <small>
    <p>A test web app by Keith Mattix</p> 
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   '#' %></li>
      <li><%= link_to "Contact", '#' %></li>
    </ul>
  </nav>
</footer>